{% extends 'store/base1.html' %}
{% load static %}

{% block title %}
Ecommerce Online Shopping
{% endblock title %}

{% block content %}
<div class="container">
  <center><h3>{{name.name}}</h3></center>
    <div class="row">
        {% for i in data %}
        
            <div class="col-md-3 mb-3 mt-5 ms-5 me-5">
                <div class="card" style="width: 20rem; height: 480px;">
                  <a href="{% url 'details' i.id %}">
                    <img src="{{i.product_image.url}}" class="card-img-top" alt="" height="300px">
                    <div class="card-body">
                        <h5 class="card-text text-center">{{i.name}}</h5>
                      </a>
                        <p class="card-text text-center"><br>Original price : <s>{{i.original_price}}/-</s><br>
                            Offer Price : {{i.selling_price}}/-</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}