{% extends 'store\base.html' %}
{% load static %}
{% block title %}
ECOM|Products 
{% endblock title%} 



{% block content %}
<div class="container">
  
 

  <div class="row">
      {% for product in data %}
      <div class="h4 pb-2 mb-4 text-danger text-center border-bottom border-danger my-3">{{name.name}}</div>
      <div class="col-md-3">
          <div class="card mb-4">
         
              <img src="{{ product.product_image.url }}" class="card-img-top" alt="..." height="300px" width="400px">
              <div class="card-body">
                  <p class="card-title">{{product.name}}</p>
                  <p class="card-text">{{product.original_price}}</p>
                  <p class="card-text">{{product.selling_price}}</p>
              </div>
      
          </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}