{% extends 'store/base2.html' %}
{% load static %}

{% block title %}
Ecommerce Online Shopping
{% endblock title %}

{% block content %}
<div class="container-fluid">
    {% for product in data %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ product.product_image.url }}" class="card-img-top" alt="{{ product.name }}" height="500px" width="400">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title text-primary">{{ product.name }}</h3>
                        <p class="card-text"><strong>Category:</strong> {{ product.category }}</p>
                        <p class="card-text"><strong>Quantity:</strong> {{ product.quantity }}</p>
                        <p class="card-text"><strong>Original Price:</strong> {{ product.original_price }}</p>
                        <p class="card-text"><strong>Selling Price:</strong> {{ product.selling_price }}</p>
                        <p class="card-text"><strong>Description:</strong> {{ product.description }}</p>
                        
                        <div class="row">
                              <div class="col-md-6">
                                <button class="btn btn-primary "><a href="{% url 'addcart' product.id %}">Add to Cart</a></button>
                              </div>
                            </a>
                            <div class="col-md-6">
                                <button class="btn btn-success btn-buy-now"> <a href="{% url 'order' product.id %}">Buy Now</a></button>
                            </div>
                        </div>
                        <br><br>
                        <div class="input-group" style="width :150px">
                            <button class="input-group-text bg-success text-light" name="" id=""><i class="fa-solid fa-plus"></i></button>
                            <input type="text" name="" id="" value="" class="form-select text-danger">
                            <button class="input-group-text bg-success text-light" name="" id=""><i class="fa-solid fa-minus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}

